<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>canvas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDF6F1EA1F0F0883006E71B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDF6F1FE1F0F0883006E71B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDF6F2091F0F0883006E71B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
